.DS_Store
.svn
._*
~$*
*~
.*.swp
*.pbxuser
*.perspectivev3
*.mode1v3
Thumbs.db
openglmm_fbo/*
openglmm_font/*
openglmm_gears/*
openglmm_geometry/*
openglmm_heightmap/*
permutations/*
size_test/*
source_cleaner/*
xdgmm/*

