.DS_Store
.kdev4
.svn
._*
~$*
*~
.*.swp
*.cmake
*.kdev4
*.pbxuser
*.perspectivev3
*.mode1v3
CMakeCache.txt
Makefile
Thumbs.db
discombobulator/*
openglmm_fadein/openglmm_fadein
openglmm_fadein/build
openglmm_fadein/CMakeFiles
openglmm_font/openglmm_font
openglmm_font/build
openglmm_font/CMakeFiles
openglmm_gears/openglmm_gears
openglmm_gears/build
openglmm_gears/CMakeFiles
openglmm_geometry/openglmm_geometry
openglmm_geometry/build
openglmm_geometry/CMakeFiles
openglmm_heightmap/openglmm_heightmap
openglmm_heightmap/build
openglmm_heightmap/CMakeFiles
openglmm_shaders/openglmm_shaders
openglmm_shaders/build
openglmm_shaders/CMakeFiles
permutations/*
size_test/*
source_cleaner/*
xdgmm/*

